body{
    font-family: poppins,sans-serif;

}
.mt-80{
    margin-top: 80px !important;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}

header{
    height: 100vh;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #3e64ff;
    opacity: 0.1;
    z-index: -1;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    z-index: 100;
}
ul li{
    list-style-type: none;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: cornflowerblue;
}

.menu{
    display: flex;
}
.menu-item{
    padding: 12px 20px;
    font-weight: 600;
}
.menu-item:hover{
    color: #3e64ff;
    transition: 0.5s ease-in;
}
.bar{
    display: none;
    font-size: 30px;
}
header .textcenter{

    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    text-align: center;
}
header .textcenter span{
    color: #3e64ff;
    font-weight: 800;
    letter-spacing: 4px;
}
header .textcenter h1{
    font-size: 60px;
    font-weight: 800;
}
header .textcenter h2{
    font-size: 32px;
    font-weight: 800;
}
.about .container{
    display: flex;
}
.about .image{
    width: 50%;
}
.about .image img{
    width: 100%;
    height: 685px;

}
.about .about-content{
    width: calc(50% - 80px) !important;
    margin: 40px 40px 20px 40px;
}
.about .about-content h1{
    font-size: 50px;
    font-weight: 700;
}
.about .about-content span{
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
}
.about .about-content ul{
    padding: 0;
}
.about .about-content li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.about .about-content p{
    font-weight: 600;
    width: 130px;
    margin: 0;
}
.about .about-text{

}
.about .about-text >span{
    font-size: 20px;
    font-weight: 400;
    color: black;
    line-height: 1.8;
    display: block;
    margin-bottom: 24px;
}
.about .about-text >a{
    color: white;
    background-color: #3e64ff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 16px;
    border-radius: 30px;
}
.partner .container{
    display: flex;
    padding: 64px 0;
}
.partner .partner-item{
    width: 20%;
    text-align: center;
}
.partner .partner-item img{
    width: 80%;

}
.education .container{
    margin-top: 40px;
    display: flex;
}
.education .education-title{
    width: 33.3333333%;
}
.education .education-content{
    width: 66.66666667%;
}
.education .education-title ul{
    padding-left: 15px;
}
.education .education-title li{
    font-weight: 700;
    list-style: none;
    margin-bottom: 10px;
}

.education .education-content h1 {
    font-weight: 800;
    font-size: 30px;
    color: #3e64ff;
    margin: 0 0 30px 0;
}
.education .education-content-info{
    display: flex;

}
.education .education-content-info .img{
    width: 50px !important;
    height: 50px;
    background: #3e64ff;
    position: relative;
    border-radius: 50%;
    margin-right: 16px;
    padding: 0;

}
.education .education-content-info i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;

}
.education .education-content-info .time{
    font-weight: 900;
    font-size: 16px;
    color: #3e64ff;
    line-height: 1.8;
}
.education .education-content-info .name{
    line-height: 1.5;
    color: black;
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
}
.education-content-info .position{
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}
.education-content-info .description{
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
}
.education-content-info .border{
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}
.skill h1{
    font-weight: 800;
    font-size: 30px;
    color: #3e64ff;
    margin: 0 0 30px 0;
}
.skill .skill-list-1{
    display: flex;
}
.skill .skill-list-1 .box-percent{
    margin: 0 10px;
    width: 33.3333333%;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 0.15) ;
    border-radius: 0.3rem ;

}
.skill .skill-list-1 .box-percent > div{
   padding: 12px;
    text-align: center;
}
.skill-list-1 .box-percent h2{
    line-height: 1.5;
    color: black;
    font-weight: 700;
}
.skill-list-1 .percent-circle{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid #eee;
    margin: auto;
}
.skill-list-1 .percent-circle p{
    font-size: 30px;
    font-weight: 700;
    line-height: 95px;
}
.skill-list-1 .percent-circle .percent-right{
    position: absolute;
    border: solid 6px #3e64ff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
    top: -6px;
    left: -6px;
}
.skill-list-1 .percent-circle .percent-left{
    position: absolute;
    border: solid 6px #3e64ff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(189deg);
    top: -6px;
    left: -6px;
}
.skill-list-1 .percent-circle .percent2{
    transform: rotate(153deg);
}
.skill-list-1 .percent-circle .percent3{
    transform: rotate(135deg);
}
.skill-list-1 .row-text{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.skill-list-1 .row-text .col6 >div{
    line-height: 1.5;
    font-weight: 700;
    font-size: 24px;
}.skill-list-1 .row-text .col6 span{
     color: #999999;
     font-size: 12.8px;
 }
 .skill-list-2 .box-percent{
     margin-top: 56px;
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
 }

 .skill-list-2 .box-percent .col6{
     width: calc(50% - 15px);
     margin-bottom: 12px;
 }
.skill-list-2 .box-percent .col6 .top{
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 10px;
}
.skill-list-2 .box-percent .col6 .bot .full{
    width: 100%;
    height: 10px;
    background-color: #e6e6e6;
    position: relative;
}
.skill-list-2 .box-percent .col6 .bot .inside{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 10px;
    background-color: #3e64ff;
}

.service .service-title {
    text-align: center;
    margin-top: 140px;
}
.service .service-title h2{
    font-size: 50px;
    font-weight: 700;
}
.service .service-title span{
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
}
@media screen and (max-width: 992px){
    .menu{
        display: none;
    }
    .about .container .image{
        display: none;
    }
    .about .about-content{
        width: calc(100% - 80px) !important;
    }
    .bar{
        display: block;
    }
    .partner .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .partner .partner-item{
        width: 33%;

    }
    .skill .skill-list-1{
        display: block;
    }
    .skill .skill-list-1 .box-percent{
        width: 100%;
    }
}

.service .row{
    display: flex;
    padding: 0 40px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin-top: 50px;
    gap: 18px;
}
.service .row .service-item {
    width: calc(33.3333333% - 80px);
    margin-bottom: 40px;
    padding: 2em;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}
.service .row .service-item i{
    color: #3e64ff;
    font-size: 50px;
}
.service .row .service-item h3{
    line-height: 1.3;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    color: #000000;
    margin-top: 32px;
    margin-bottom: 48px;
}
.service .row .service-item h3::after{
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    content: '';
    width: 30px;
    height: 1px;
    background: #3e64ff;
    margin: 0 auto;
}
.service .row .service-item p{
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.8;
    font-weight: 400;
}
@media only screen and (max-width: 768px){

    .about .about-content{
        width: calc(100% - 80px) !important;
    }
    .about .container .image{
        display: none;
    }
    .partner .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .partner .partner-item{
        width: 33%;
    }
    .education .container{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
    }.education .education-title{
         width: 100%;
     }
    .education .education-content{
        width: 100%;
    }
    .skill .skill-list-1{
        display: block;
    }
    .skill .skill-list-1 .box-percent{
        width: 100%;
    }
}